.login {
  width: 100%;
  height: 100vh;
  /* background: url("/public/images/auth-bg.svg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("../../assets/fon2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 400px;

}



.login-form {
  max-width: 420px;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form > h1 {
  font-weight: bold;
}

.login-form > label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.login-form > label span {
  font-size: 14px;
  color: #000000;
  padding-left: 5px;
}

.login-form > label input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(2, 2, 2);
  background: white;
}

.login-form > label input[type="submit"] {
  background: white;



  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
}
::placeholder{
  color: rgb(13, 13, 13) !important;
}

/* Стили кнопки */
.login-form>label button {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background: #222222;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form>label button:hover {
  background: #000000;

}

.login-form>label button:disabled {
  background: #2a2a2a;
  
  cursor: not-allowed;
}

/* Стиль спинера */
.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ffffff;
  border-top: 3px solid #a0cee8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}